certifi==2020.6.20
charset-normalizer==2.0.12
click==8.1.2
colorama==0.4.4
datetime
Flask==2.1.1
html2text==2020.1.16
idna==3.3
itsdangerous==2.1.2
Jinja2==3.1.1
MarkupSafe==2.1.1
requests==2.27.1
setuptools==61.2.0
urllib3==1.26.9
Werkzeug==2.1.1
wheel==0.37.1
wincertstore==0.2
