@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  margin: 0;
  padding: 0;
  background: linear-gradient(120deg,#2980b9, #8e44ad);
  height: 100vh;
  overflow: scroll;
  width : auto;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.center h1{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.home_body h1{
  text-align: center;
  padding: 20px 0;
  color: #ffffff;
  /* border-bottom: 1px solid silver; */
}
.boxl button{
  position: absolute;
  top: 40%;
  left: 42%;
  height: 50px;
  width : 200px;
  border: 1px solid;
  background: rgb(16, 155, 0);
  border-radius: 25px;
  font-size: 18px;
  color: #feffff;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}



.search_bar button{
  position: absolute;
  top: 28%;
  left: 44%;
  height: 45px;
  width : 150px;
  /* border: 1px solid; */
  background: rgb(16, 155, 0);
  border-radius: 25px;
  font-size: 15px;
  color: #feffff;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.buttongrp {
  position: absolute;
  top : 45%;
  left : 33%;
}
.imgb{
  cursor: pointer;
}

.logout{
  position: absolute;
  top: 80%;
  left: 43%;
}



.boxl button:hover{
  background: rgb(13, 124, 1);
}
.boxs button:hover{
  background: rgb(13, 124, 1);
}

.search_bar button:hover{
  background: rgb(13, 124, 1);
}


.boxs button{
  position: absolute;
  top: 50%;
  left: 42%;
  height: 50px;
  width : 200px;
  border: 1px solid;
  background: rgb(16, 155, 0);
  border-radius: 25px;
  font-size: 18px;
  color: #feffff;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
.center h2{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover{
  text-decoration: underline;
}
input[type="submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
.column input[type="submit"]{
  width: 50%;
  height: 30px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 14px;
  color: #99d6ff;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

input[type="login_start"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

input[type="submit"]:hover{
  border-color: #2691d9;
  transition: .5s;
}
.signup_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signup_link a{
  color: #2691d9;
  text-decoration: none;
}
.signup_link a:hover{
  text-decoration: underline;
}

.search_bar form{
  padding: 0px 500px;
  box-sizing: border-box;
}
.column {
  float: left;
  width: 20%;
  padding: 10px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.ncolumn {
  float: left;
  width: 20%;
  padding: 10px;
}

/* Clear floats after image containers */
.nrow::after {
  content: "";
  clear: both;
  display: table;
}



.imgcenter {
  display: block;
  margin: 0 auto;
}


.userinp{
  position: absolute;
  padding: 10px;
  margin: auto;
  top: 50%;
  left: 50%;
  height: 250px;
  transform: translate(-50%, -50%);
  width: 50%;
  background: linear-gradient(120deg,#79000c, #15011d);
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}

.userinp form{
  margin: 0 auto;
  margin-left: 25%;
  padding: 30px;
}

.select{
  left : 40px;
}

.userinp select{
  /* position: absolute; */
  height: 30px;
  width: 200px;
  background-color: #f5f8fa;
  text-align: center;
}
.userinp select:hover{
  /* position: absolute; */
  background-color: #99d6ff;
  
}


.userinp input[type="submit"]{
  width: 200px;
  height: 30px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 14px;
  color: #99d6ff;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.userinp input[type="submit"]:hover{
  background: darkgreen;
}