<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
  </head>
  <body>
    <div class = 'home_body'>
        <h1>What To Watch ?</h1>      
    </div>
    <div class="search_bar">
        <form method="post">
            <div class="txt_field">
                <input type="text" name='searchq' required>
                <span></span>
                <label>Search for a TV Show</label>
              </div>
              <a href=''><button>Search</button></a>
        </form>
        
    </div>
    

  </body>
</html>