<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
  </head>
  <body>
    <div class = 'home_body'>
      <a href="{{url_for('home')}}"><h1>What To Watch ?</h1></a>        
    </div>
    <div class="search_bar">
        <p1> Sorry, No Shows Found -_- </p1>
        <div class = 'boxl'>
            <a href=home><button>Home</button></a>
        </div>
        
    </div>
    

  </body>
</html>