<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
  </head>
  <body>
    <div class = 'home_body'>
      <a href="{{url_for('home')}}"><h1>What To Watch ?</h1></a>     
    </div>
  
    <img class="imgcenter" src="{{image}}" width="210px" height="295px">
    <p> <u>Created By</u> : {{owner}}</p>
    <p> <u>Rating</u> : {{show['rating']['average']}}</p>
    <p> <u>Time</u> : {{stramat}}</p>
    <p> <u>TimeZone</u> : {{tzone}}</p>
    <p> <u>Days</u> : {{days}}</p>
    <p> <u>Starring</u> : {{cast_list}}</p>
    <p> <u>Summary</u> : {{summary}}</p>
    <p> <u>Genres</u> : {{genres}}</p>
    <p> <u>Premiere Date</u> : {{show['premiered']}}</p>
    <a href="{{show['officialSite']}}"><p>officialSite : {{show['officialSite']}}</p></a>

    

  </body>
</html>