<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
  </head>
  <body>
    <div class = 'home_body'>
      <a href="{{url_for('home')}}"><h1>What To Watch ?</h1></a>     
    </div>
  
    <img src="{{show['image']['medium']}}" width="210px" height="295px">
    <p> Created by : {{show['network']['name']}}</p>
    <p> Rating : {{show['rating']['average']}}</p>
    <p>Summary : {{summary}}</p>
    <p> Genres : {{show['genres']}}</p>
    <p> Premiered : {{show['premiered']}}</p>
    <a href="{{show['officialSite']}}"><p>officialSite : {{show['officialSite']}}</p></a>

    

  </body>
</html>